@{
    ViewBag.Title = "Energy Mix";
}
@model HackathonVinci2.Models.InputModel

<div class="jumbotron">
    <!--
        <h1>Energy Mix</h1>
    <p class="lead">An OMEXON Tool</p>
        -->
    <p><center><img src="~/Content/EnergyMix.png" /></center></p>
    <p><a href="http://www.omexom.de/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    
</div>

<div class="well">
    Please specify the count of specific asset types and also your desired prediction time range.
</div>
<form method="post">
    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.CoalSiteAmount)
                @Html.EditorFor(model => model.CoalSiteAmount, new { htmlAttributes = new { @type="number", @min = 0, max = int.MaxValue, @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.SolarSiteAmount)
                @Html.EditorFor(model => model.SolarSiteAmount, new { htmlAttributes = new { @type = "number", @min = 0, max = int.MaxValue, @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.WindSiteAmount)
                @Html.EditorFor(model => model.WindSiteAmount, new { htmlAttributes = new { @type = "number", @min = 0, max = int.MaxValue, @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Duration)
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @type = "number", @min = 1, max = int.MaxValue, @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="Calculate" class="btn btn-lg btn-default" />
                <input type="reset" value="Reset" class="btn btn-lg" />
            </div>
        </div>
    </div>
</form>